<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Card Test</title>
    </head>
    <body>
        <table width="100%" border="1">
            <tr>
                <th colspan="2">Pitcher</th>
            </tr>
            <tr>
                <th>Selected</th>
                <th>In Hand</th>
            </tr>
            <tr>
                <td valign="top">
                    <ul>
                        {% for card in pitcherSelectedCards %}
                            <li>{{ card.getFaceValue() }} of {{ card.getSuit() }} ({{ card.getValue() }})</li>
                        {% endfor %}
                    </ul>
                </td>
                <td valign="top">
                    <ul>
                        {% for card in pitcherDeck.getCardsInHand() %}
                            <li>{{ card.getFaceValue() }} of {{ card.getSuit() }} ({{ card.getValue() }})</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th colspan="2">Batter</th>
            </tr>
            <tr>
                <th>Selected</th>
                <th>In Hand</th>
            </tr>
            <tr>
                <td valign="top">
                    <ul>
                        {% for out in batterSelectedCards %}
                            <li><h3>Out {{ loop.index }}</h3></li>
                            {% for card in out %}
                                <li>{{ card.getFaceValue() }} of {{ card.getSuit() }} ({{ card.getValue() }})</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </td>
                <td valign="top">
                    <ul>
                        {% for card in batterDeck.getCardsInHand() %}
                            <li>{{ card.getFaceValue() }} of {{ card.getSuit() }} ({{ card.getValue() }})</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </body>
</html>